<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-activity-heading" jhiTranslate="beezenRhApp.activity.home.createOrEditLabel">Create or edit a Activity</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!activity.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="activity.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="beezenRhApp.activity.activityLabel" for="field_activityLabel">Activity Label</label>
                    <input type="text" class="form-control" name="activityLabel" id="field_activityLabel"
                        [(ngModel)]="activity.activityLabel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="beezenRhApp.activity.dateDebut" for="field_dateDebut">Date Debut</label>
                    <div class="input-group">
                        <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" ngbDatepicker  #dateDebutDp="ngbDatepicker" [(ngModel)]="activity.dateDebut"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="beezenRhApp.activity.dateFin" for="field_dateFin">Date Fin</label>
                    <div class="input-group">
                        <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker  #dateFinDp="ngbDatepicker" [(ngModel)]="activity.dateFin"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="beezenRhApp.activity.isValide" for="field_isValide">Is Valide</label>
                    <input type="checkbox" class="form-control" name="isValide" id="field_isValide"
                        [(ngModel)]="activity.isValide" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="beezenRhApp.activity.activityType" for="field_activityType">Activity Type</label>
                    <input type="number" class="form-control" name="activityType" id="field_activityType"
                        [(ngModel)]="activity.activityType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="beezenRhApp.activity.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="activity.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === activity.user?.id ? activity.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
